{% extends "!layout.html" %}
{% block sidebartoc %}
    <font color="Red">This book is in early development; you will find parts that are incorrect &amp; incomplete.</font>
    {{ super() }}
{% endblock %}
{% block sidebarsearch %}
    {{ super() }}
    <h4><a href="http://www.mindviewinc.com/Books/Python3Patterns/Index.php">Project Homepage</a></h4>
    <h4><a href="http://www.bitbucket.org/BruceEckel/python-3-patterns-idioms/issues/">Corrections/Suggestions</a></h4>
    <h4><a href="http://www.mindviewinc.com/Consulting/Index.php">Consulting &amp; Training</a></h4><br><br>
{% endblock %}